*.a
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
bin/
cmake_install.cmake
googletest/
lib/
build
framework/src/CMakeFiles/
framework/src/Makefile
framework/src/cmake_install.cmake
framework/src/logger/CMakeFiles/
framework/src/logger/Makefile
framework/src/logger/cmake_install.cmake
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/test_secondTake
Testing/
_deps/
framework/Testing/
framework/src/logger/Testing/
framework/src/pipeline/.CMakeLists.txt.swp
framework/tests/test_secondTake
framework/tests/test_applicationcontext
framework/tests/test_dbinterface
framework/tests/test_eventForge
framework/tests/test_mqttconnector
framework/tests/test_pipeline
framework/tests/test_pipeline_payload_matching
framework/tests/test_pipelineprocessor
sampleApplications/driversLog/tests/test_car

