CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
bin/
cmake_install.cmake
googletest/
lib/
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/logger/CMakeFiles/
src/logger/Makefile
src/logger/cmake_install.cmake
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/test_secondTake

